<div class="container">
  <%= form_with(model: recipe, class: "nice-form") do |form| %>
    <% if @recipe.errors.any? %>
      <div class="error-message">
        <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this ingredient from being saved:</h2>

        <ul>
          <% @recipe.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :description, class: "form-label" %>
      <%= form.text_field :description, class: "form-control" %>
    </div>
    
    <div class="mb-3">
      <%= form.label :ingredients, class: "form-label" %>
      <%= form.text_field :recipe_ingredients, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :instruction, class: "form-label" %>
      <%= form.text_field :instruction, class: "form-control" %>
    </div>

    <div class="d-flex justify-content-between">
      <%= link_to "CANCEL", :back, class: "btn btn-secondary" %>
      <%= form.submit "SAVE", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>