<div class="container">
  <h1 class="text-center mb-4"><%= @recipe.name %></h1>


  <label class="ui-bookmark">
    <input type="checkbox" id="save-recipe-<%= @recipe.id %>" onchange="saveRecipe(<%= @recipe.id %>)" <%= current_user.favorite_recipes.include?(@recipe) ? 'checked' : '' %> >
    <div class="bookmark">
      <svg viewBox="0 0 32 32">
        <g>
          <path d="M27 4v27a1 1 0 0 1-1.625.781L16 24.281l-9.375 7.5A1 1 0 0 1 5 31V4a4 4 0 0 1 4-4h14a4 4 0 0 1 4 4z"></path>
        </g>
      </svg>
    </div>
  </label>

  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Description:</h5>
          <p class="card-text"><%= @recipe.description %></p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Instruction:</h5>
          <p class="card-text"><%= @recipe.instruction %></p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Rating:</h5>

<div class="rating">
  <% (1..5).each do |num| %>
    <span class="star <%= num <= @recipe.rating ? 'yellow' : '' %>">★</span>
  <% end %>
</div>
          <p class="card-text"><%= @recipe.rating %></p>
        </div>
      </div>
    </div>
  </div>

  <h4>Ingredients:</h4>

  <div class="row">
    <%= render partial: "ingredients/ingredient", collection: @recipe.ingredients %>
  </div>

  <div class="row">
    <div class="col-3"> <%= link_to "BACK", :back, class:"btn btn-secondary" %> </div>
    <div class="col-3"> </div>
    <div class="col-3"> </div>
    <div class="col-3"> <%= link_to "EDIT", edit_recipe_path(@recipe) ,class:"btn btn-primary" %> </div>
  </div>
</div>

<div class="vr mt-5"></div>

<%= form_with(url: rate_recipe_path(@recipe), method: :post) do |form| %>
  <div class="rating">
    <%= form.radio_button :rate, 5, id: "star5" %>
    <%= form.label "star5", class: "star-label", title: "text" do %>
      <span class="hidden-text">Star 5</span>
    <% end %>
    
    <%= form.radio_button :rate, 4, id: "star4" %>
    <%= form.label "star4", class: "star-label", title: "text" do %>
      <span class="hidden-text">Star 4</span>
    <% end %>
 
    <%= form.radio_button :rate, 3, id: "star3" %>
    <%= form.label "star3", class: "star-label", title: "text" do %>
      <span class="hidden-text">Star 3</span>
    <% end %>
 
    <%= form.radio_button :rate, 2, id: "star2" %>
    <%= form.label "star2", class: "star-label", title: "text" do %>
      <span class="hidden-text">Star 2</span>
    <% end %>
 
    <%= form.radio_button :rate, 1, id: "star1" %>
    <%= form.label "star1", class: "star-label", title: "text" do %>
      <span class="hidden-text">Star 1</span>
    <% end %> 
  </div>
  <%= form.submit "Guardar" %>
<% end %>