<div class="container">
  <h1 class="text-center mb-4"><%= @recipe.name %></h1>


  <label class="ui-bookmark">
    <input type="checkbox" id="save-recipe-<%= @recipe.id %>" onchange="saveRecipe(<%= @recipe.id %>)" <%= current_user.favorite_recipes.include?(@recipe) ? 'checked' : '' %> >
    <div class="bookmark">
      <svg viewBox="0 0 32 32">
        <g>
          <path d="M27 4v27a1 1 0 0 1-1.625.781L16 24.281l-9.375 7.5A1 1 0 0 1 5 31V4a4 4 0 0 1 4-4h14a4 4 0 0 1 4 4z"></path>
        </g>
      </svg>
    </div>
  </label>

  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Description:</h5>
          <p class="card-text"><%= @recipe.description %></p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Instruction:</h5>
          <p class="card-text"><%= @recipe.instruction %></p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Rating:</h5>
          <% if @recipe.rating %>
            <div class="rating" id="rating-star">
              <% (1..5).each do |num| %>
                <span class="star <%= num <= @recipe.rating ? 'yellow' : '' %>">★</span>
              <% end %>
            </div>
            <p class="card-text" id='rating-recipe'><%= @recipe.rating %></p>
          <% else %>
            <p class="card-text">There is no ratings for this recipe yet</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <h4>Ingredients:</h4>

  <div class="row">
    <%= render partial: "ingredients/ingredient", collection: @recipe.ingredients %>
  </div>

  <div class="row">
    <div class="col-3"> <%= link_to "BACK", :back, class:"btn btn-secondary" %> </div>
    <div class="col-3"> </div>
    <div class="col-3"> </div>
    <div class="col-3"> <%= link_to "EDIT", edit_recipe_path(@recipe) ,class:"btn btn-primary" %> </div>
  </div>
</div>

<div class="vr mt-5"></div>

<div class="rating">
  <input type="radio" id="star5-<%= @recipe.id %>" name="rate" value="5" onchange="rate_recipe( <%= @recipe.id %> , 5)" <%= @rate == 5 ? 'checked' : '' %> >
  <label for="star5-<%= @recipe.id %>" title="text"></label>
  <input type="radio" id="star4-<%= @recipe.id %>" name="rate" value="4" onchange="rate_recipe( <%= @recipe.id %> , 4)" <%= @rate == 4 ? 'checked' : '' %> >
  <label for="star4-<%= @recipe.id %>" title="text"></label>
  <input type="radio" id="star3-<%= @recipe.id %>" name="rate" value="3" onchange="rate_recipe( <%= @recipe.id %> , 3)" <%= @rate == 3 ? 'checked' : '' %> >
  <label for="star3-<%= @recipe.id %>" title="text"></label>
  <input type="radio" id="star2-<%= @recipe.id %>" name="rate" value="2" onchange="rate_recipe( <%= @recipe.id %> , 2)" <%= @rate == 2 ? 'checked' : '' %> >
  <label for="star2-<%= @recipe.id %>" title="text"></label>
  <input type="radio" id="star1-<%= @recipe.id %>" name="rate" value="1" onchange="rate_recipe( <%= @recipe.id %> , 1)" <%= @rate == 1 ? 'checked' : '' %> >
  <label for="star1-<%= @recipe.id %>" title="text"></label>
</div>

