<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "BartenderApp", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Recipes", recipes_path, class:"nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "Ingredients", ingredients_path, class:"nav-link active" %>
        </li>
      </ul>

      <%= form_with(class: "d-flex", id: "search-form") do |form| %>
        <%= form.text_field :query, class: "form-control me-2", placeholder:"Search" %>
        <%= form.submit class: "btn btn-outline-success" %>
      <% end %>

    </div>
  </div>
</nav>

<div id="search-results"></div>

<script>
// Obtener el formulario de búsqueda y el div de resultados
const form = document.querySelector('#search-form');
const resultsDiv = document.querySelector('#search-results');

// Escuchar el evento de envío del formulario
form.addEventListener('submit', function(event) {
  event.preventDefault(); // Prevenir el envío del formulario

  // Obtener el valor del campo de búsqueda
  const query = form.querySelector('#query').value;

  // Realizar una solicitud AJAX para obtener los resultados de búsqueda
  const request = new XMLHttpRequest();
  request.open('GET', `/search?query=${encodeURIComponent(query)}`);
  request.onload = function() {
    if (request.status === 200) {
      // Actualizar el contenido del div con los resultados de búsqueda
      resultsDiv.innerHTML = request.responseText;
    }
  };
  request.send();
});
</script>