<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "BartenderApp", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Recipes", recipes_path, class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "Ingredients", ingredients_path, class: "nav-link active" %>
        </li>
      </ul>

      <%= form_with(class: "d-flex", id: "search-form") do |form| %>
        <%= form.text_field :query, class: "form-control me-2", placeholder: "Search" %>
        <%= form.submit class: "btn btn-outline-success" %>
      <% end %>

    </div>
  </div>
</nav>

<div id="search-results"></div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const form = document.querySelector('#search-form');
    const resultsDiv = document.querySelector('#search-results');

    form.addEventListener('submit', function(event) {
      event.preventDefault();

      const query = form.querySelector('#query').value;

      const authenticityToken = document.querySelector('meta[name="csrf-token"]').content;

      const request = new XMLHttpRequest();
      request.open('POST', `/search?query=${encodeURIComponent(query)}`);
      request.setRequestHeader('X-CSRF-Token', authenticityToken);
      request.onload = function() {
        if (request.status === 200) {
          const response = JSON.parse(request.responseText);
          displaySearch(response.recipes);
        }
      };
      request.send();
    });

    function displaySearch(recipes) {
      let contenedor = document.getElementById('search-results');
      contenedor.innerHTML = '';

      if (recipes.length === 0) {
        let p = document.createElement('p');
        p.textContent = 'No recipes found.';
        contenedor.appendChild(p);
      } else {
        let ul = document.createElement('ul');

        for (let i = 0; i < recipes.length; i++) {
          let recipe = recipes[i];
          let li = document.createElement('li');
          let link = document.createElement('a');
          link.href = '/recipes/' + recipe.id;
          link.textContent = recipe.name;
          li.appendChild(link);
          ul.appendChild(li);
        }

        contenedor.appendChild(ul);
      }
    }
  });
</script>