<!DOCTYPE html>
<html>
  <head>
    <title>Bartender</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- CSS -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "star_rating", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "sign_in_form", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "save_recipe", "data-turbo-track": "reload" %>

    <!-- JAVASCRIPT -->
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "static_pages_find_recipes" %>
    <%= javascript_include_tag "recipes_search" %>
    <%= javascript_include_tag "save_recipe" %>
  </head>

  <%= render partial: "layouts/navbar"  %>
  <%= render partial: "layouts/flash_notice"  %>

  <body>
    <%= yield %>
  </body>
  
  <div class="vr mt-5"></div>
</html>
